nav#wikiMenu{
  > ul.uk-nav >li{
    > a{
      font-size: 23px;
      font-weight: 600;
      margin-top: 20px;
      color: black;
      &:hover, &:focus{
        color: $color_link_hover;
        text-decoration: underline;
      }
    }
    >ul{
      list-style: decimal;
      margin-left: 20px;
      color: darkgrey;
    }
    >ul li{
      margin-bottom: 5px;
      > a{
        color: darkslategrey;
        margin-left: 5px;
        &:hover, &:focus{
          color: $color_link_hover;
          text-decoration: underline;
        }
      }
    }
  }
  li.active{
    a{
      color: $color_link_hover !important;
      font-weight: 600;
    }
  }
}

.pageFeedCategory{
  .short{
    background: #ffffeb;
    padding: 15px 20px;
    border-radius: 5px;

    p:last-of-type{
      margin-bottom: 0;
    }
  }
  .description{
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

.page_short{
  background: #ffffeb;
  padding: 15px 20px;
  margin-bottom: 35px;
  border-radius: 5px;

  p:last-of-type{
    margin-bottom: 0;
  }
}

ul.uk-breadcrumb {
  margin-bottom: 45px;
}

.additional_materials{
  background: aliceblue;
  padding: 13px 15px;
  border-radius: 5px;

  p.uk-h2{
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 15px;
  }
  h3{
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .pageFeedCategory-item_short{
    font-style: italic;
    font-size: 18px;
    color: darkslategrey;
  }
  .pageFeedCategory-item{
    margin-top: 35px;
  }
}

div[class^=page-model-model]{
  pre{
    margin-bottom: 55px;
  }
}

section#right_colomn .modules-list #search-autocomplite-full{
  margin-bottom: 25px;
}

:not(pre)>code, :not(pre)>kbd, :not(pre)>samp {
  background: #f5f2f0;
  font: 14px/20px Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
  white-space: nowrap;
}

b, strong {
  font-weight: 600;
}

*+h1, *+h2, *+h3 {
  margin-top: 45px;
}
.LarrockPage{
  h1{
    margin-top: 25px;
  }
}

.uk-h2, .uk-h3{
  margin-top: 45px;
}