.uk-breadcrumb{
  padding: 0;
  background: transparent;
  font-size: 25px;
  line-height: 38px;

  //white-space: nowrap;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 2;

  h1, h2, h3, h4, h5{
    display: inline-block;
    font-size: 23px;
    line-height: 38px;
    margin: 0;
    color: $color_link;
  }
  h1{
    color: black;
    font-size: 28px;
    font-weight: 600;
  }
  a{
    color: $color_link;
    text-decoration: underline;
  }
  >li:nth-child(n+2):after {
    content: "/";
    display: inline-block;
    margin: 0 3px 0 0;
    font-size: 17px;
    padding-left: 7px;
    color: #cecece;
  }
  >li:nth-child(n+2):before{
    display: none;
  }
  >li:last-of-type:after{
    display: none;
  }

  >li:first-of-type{
    display: none;
  }
}